 
<div class="w3-bar w3-black">
  <a href="#" class="w3-bar-item w3-button">Mill Hill Bjj</a>
  <a href="/" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white">Home</a>
  <a href="/about" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white">About</a>
  <!-- <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white">Submissions</a> -->
</div>