<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
  <%- include('partials/nav'); -%>
  <h1>Wrestling Mindset</h1>
 <ul>
   <li><%= systems[0] %></li>
   <li><%= systems[1] %></li>
   <li><%= systems[2] %></li>
 </ul>
</body>
</html>